:root{
  --button-radius: 9px;
  --button-color: color-mix(in srgb, currentColor 10%, transparent);
  --destructive-button-color: color-mix(in srgb, currentColor 15%, transparent);
}

/* Basic button styles */
button {
  min-height: 24px;
  min-width: 16px;
  padding: 5px 10px;
  border-radius: var(--button-radius);
  font-weight: bold;
  background-color: var(--button-color);
  border: none;
  font-family: inherit;
  font-size: inherit;
}

/* Suggested action button */
button.suggested-action {
  box-shadow: none;
  color: var(--accent-fg-color);
  background-color: var(--accent-bg-color);
}

/* Destructive action button */
button.destructive-action {
  --accent-bg-color: var(--destructive-bg-color);
  --accent-fg-color: var(--destructive-fg-color);
  --accent-color: var(--destructive-color);
  color: var(--accent-color);
  background-color: var(--destructive-button-color);
}

/* Flat button styles */
button.flat {
  background: transparent;
  box-shadow: none;
}

/* Circular button */
button.circular {
  min-width: 34px;
  min-height: 34px;
  padding: 0;
  border-radius: 9999px;
}

button.circular label {
  padding: 0;
}

/* Pill button */
button.pill {
  padding: 10px 32px;
  border-radius: 9999px;
}

/* Clear glass button */
button.clear-glass {
  --button-color: color-mix(in srgb, currentColor 15%, transparent);
  backdrop-filter: blur(2px);
  color: white;
  box-shadow:
    inset 1px 1px 1px -0.5px rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px -0.5px rgba(255, 255, 255, 0.5);
}
